@model Gerasite.Application.ViewModels.AccountViewModels.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayEmail</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Title.</h2>
        <p class="text-info">
            Bem vindo (a) ao Atlas Websites
        </p>
        <p class="text-danger">
            Efetue o login e aproveite os nossos serviços
        </p>
    </div>
</body>
</html>
