@model Gerasite.Application.ViewModels.AccountViewModels.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayEmail</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Title.</h2>
        <p class="text-info">
            Verifique seu e-mail e confirme seu endereço.
        </p>
        <p class="text-danger">
            DEMO: Caso o e-mail não chegue clique neste link: <a href="@ViewBag.Link">link</a>
        </p>
    </div>
</body>
</html>
