
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Confirmação de envio";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/Register.css" />

<div class="container" id="PainelCadastro">
    <div class="row" id="Cadastro">
        <div class="form-horizontal" id="formulario">
            <h2>E-mail Enviado</h2>
            <h4 class="text-warning">
                Enviamos um e-mail com as informações de recuperação de senha.
            </h4>

        </div>
    </div>
</div>
