@{
    ViewBag.Title = "Confirmação de reset de senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/Register.css" />
<div class="container" id="PainelCadastro">
    <div class="row" id="Cadastro">
        <div class="form-horizontal" id="formulario">
            <h2>Confirmação</h2>
            <p class="text-info">
               Sua senha foi redefinida com sucesso
            </p>
            <p class="text-warning">
                Clique <a href="@Url.Action("Login","Account")">aqui</a> para realizar o login e aproveitar os nossos serviços.
            </p>
        </div>
    </div>
</div>