@model Gerasite.Application.ViewModels.TemplateViewModels.PortfolioViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PortfolioDetalhe</title>
</head>
<body>
    <div>
        <h4>Essa será a exibição de como seu template ficou</h4>
        <hr />

            @Session["Titulo"]
            @Session["Profissao"]
           <br />
        <button> Baixar arquivo</button>
    </div>
    <p>
    </p>
</body>
</html>
