#sidebar {
    display: block;
}

.img-item {
    margin-top: 40px;
}

.item-sidebar {
    color: #999 !important;
}

.selection :hover {
    background-color: #d9600a;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.item-sidebar {
    position: relative;
    padding-left: 0;
}

    .item-sidebar:hover {
        padding-left: 40px;
    }

#user {
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 23px;
    border-bottom-color: #716e6e;
    color: #999;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #d9600a;
}

#button {
    margin-top: 50px;
}
/*Sidebar responsive*/
#sidebar {
    height: 100% !important;
}

@media only screen and (min-width: 1170px) {
    #sidebar {
        position: absolute;
        top: 64.9px;
        display: grid;
        left: -3%;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 28px 20px;
    }

    #img-item {
        margin-top: 15%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1169px) {
    #sidebar {
        position: absolute;
        top: 64.9px;
        display: grid;
        left: -3%;
    }

    #Templates {
        position: absolute;
        margin-top: 20px;
        margin-left: 25%;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 28px 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #sidebar {
        position: absolute;
        top: 62.9px;
        display: grid;
        left: -3%;
    }

    #Templates {
        position: absolute;
        margin-top: 20px;
        margin-left: 30%;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 28px 20px;
    }
}

@media (min-width: 200px) and (max-width:766px) {
    #sidebar {
        padding: 0;
        top: -19.5px;
    }

    #img-item {
        margin-top: 1%;
    }

    #Templates {
        position: absolute;
        margin-bottom: 10%;
    }
}
/*end Sidebar*/

/*Img Templates hover*/


@media only screen and (min-width: 1170px) {
    #Templates {
        position: absolute;
        margin-top: 20px;
        margin-left: 25%;
    }
}

@media (min-width: 200px) and (max-width:766px) {
    #img-template {
        display: block;
        margin: 15px auto;
        width: 75%;
    }
}

#img-template :hover{
    filter: blur( 5px );
}

.zoom, .zoom1 {
    overflow: hidden;
}

    .zoom img, .zoom1 img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .zoom:hover img, .zoom1:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        filter: brightness( 25% );
    }
/*end Templates hover*/

/*btn edit*/
.edit, .edit1 {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 20px;
    z-index: 10;
    padding-top: 35px;
    padding-bottom: 35px;
}


