
@{
    Layout = "~/Views/Shared/_Default.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap.css">
<link href="~/Content/bootstrap.min.css" />
<div class="parallax1">

    <a href="@Url.Action("Login","Account")">
        <div class="login">
            Login
        </div>
    </a>

    <div class="heading">
        Atlas Websites
    </div>
</div>


<section>
    <h1>Veja o que oferecemos</h1>
    <div class="three-col">
        <p>
            <h2>Simplicidade</h2>
            A plataforma possibilita a introdução de seu negocio, de um modo simples,
            ao mundo virtual, onde terá mais visibilidade e podendo alcançar um público que não
            chegaria a você da convencional.
        </p>
    </div>
    <div class="three-col">
        <p>
            <h2>Facilidade</h2>
            Layouts criados para atender a sua necessidade, design responsivos tanto para desktop
            quanto para mobile, assim não terá restrição em termos de alcançar o maximo de clientes possiveis.
        </p>
    </div>
    <div class="three-col">
        <p>
            <h2>Praticidade</h2>
            Você terá um suporte diferenciado, onde nós iremos nos preocupar com a parte tecnica,
            você não terá dor de cabeça em torno de manuntenção e modificação do site.
        </p>
    </div>
</section>

<div class="parallax2">
    <div class="heading-sm">
        Criando sites de maneira fácil e descomplicada
    </div>
</div>

<section class="dark">
    <div class="three-col">
        <h1>Escolha</h1><h2 class="glyphicon glyphicon-check"></h2>
    </div>
    <div class="three-col">
        <h1>Edite</h1><h2 class="glyphicon glyphicon-pencil"></h2>
    </div>
    <div class="three-col">
        <h1>Crie</h1><h2 class="glyphicon glyphicon-picture"></h2>
    </div>
</section>

<div class="parallax3">
</div>

<div class="dark">
    <div class="two-col">
        <p>
            <h2>A ferramenta</h2>
            A Atlas Websites é uma plataforma para criação de sites que possui tudo o que você precisa
            para divulgar sua empresa, produto ou serviço. Criado visado a simplicidade de uso e
            navegação de seus usuários, propondo aos nossos parceiros uma ótimo experiência de uso.
            Em poucos passos você conseguirá atingir seus objetivos, e poucos cliques terá uma página
            web a cara do seu negócio.
        </p>
    </div>
    <div class="two-col">
        <p>
            <h2>O Projeto</h2>
            Realizado por desenvolvedores indepedentes com o intuito de por em prática seus
            conhecimentos obtidos em sala de aula. Compartilhando-os com a equipe envolvida.
        </p>
    </div>
</div>

<div class="parallax4">
</div>