
@{
    ViewBag.Title = "Index";
}

<div class="parallax1">
    <div class="heading">
        GeraSite
    </div>
</div>

<section>
    <h1>Lorem ipsum dolor sit amet</h1>
    <h3>Etiam ac ultrices tellus. Quisque laoreet nisi venenatis gravida faucibus.</h3>
    <div class="two-col">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel scelerisque sapien.
            Aenean vehicula porttitor nunc eu blandit.
            Etiam ac ultrices tellus. Quisque laoreet nisi venenatis gravida faucibus. Donec porta vel quam a sodales.
            Nam nec quam finibus, tempor sem sit amet, interdum felis. Donec quis suscipit mauris.
            Vivamus ullamcorper mi tristique, pharetra dui sed, eleifend velit.
            Duis euismod vel nibh nec suscipit. Vestibulum nec imperdiet sem.
            Aenean id massa iaculis, eleifend tellus ut, tempor erat.
        </p>
    </div>
    <div class="two-col">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel scelerisque sapien.
            Aenean vehicula porttitor nunc eu blandit.
            Etiam ac ultrices tellus. Quisque laoreet nisi venenatis gravida faucibus. Donec porta vel quam a sodales.
            Nam nec quam finibus, tempor sem sit amet, interdum felis. Donec quis suscipit mauris.
            Vivamus ullamcorper mi tristique, pharetra dui sed, eleifend velit.
            Duis euismod vel nibh nec suscipit. Vestibulum nec imperdiet sem.
            Aenean id massa iaculis, eleifend tellus ut, tempor erat.
        </p>
    </div>
</section>

<div class="parallax2">
    <div class="heading-sm">
        Lorem ipsum
    </div>
</div>

<section class="dark">
    <h2>Lorem ipsum dolor</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel scelerisque sapien.
        Aenean vehicula porttitor nunc eu blandit.
        Etiam ac ultrices tellus. Quisque laoreet nisi venenatis gravida faucibus. Donec porta vel quam a sodales.
        Nam nec quam finibus, tempor sem sit amet, interdum felis. Donec quis suscipit mauris.
        Vivamus ullamcorper mi tristique, pharetra dui sed, eleifend velit.
        Duis euismod vel nibh nec suscipit. Vestibulum nec imperdiet sem.
        Aenean id massa iaculis, eleifend tellus ut, tempor erat.
    </p>
</section>

<div class="parallax3">
</div>

<div class="dark">
    <h3>Etiam ac ultrices tellus</h3>
    <div class="two-col">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel scelerisque sapien.
            Aenean vehicula porttitor nunc eu blandit.
            Etiam ac ultrices tellus. Quisque laoreet nisi venenatis gravida faucibus. Donec porta vel quam a sodales.
            Nam nec quam finibus, tempor sem sit amet, interdum felis. Donec quis suscipit mauris.
            Vivamus ullamcorper mi tristique, pharetra dui sed, eleifend velit.
            Duis euismod vel nibh nec suscipit. Vestibulum nec imperdiet sem.
            Aenean id massa iaculis, eleifend tellus ut, tempor erat.
        </p>
    </div>
    <div class="two-col">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel scelerisque sapien.
            Aenean vehicula porttitor nunc eu blandit.
            Etiam ac ultrices tellus. Quisque laoreet nisi venenatis gravida faucibus. Donec porta vel quam a sodales.
            Nam nec quam finibus, tempor sem sit amet, interdum felis. Donec quis suscipit mauris.
            Vivamus ullamcorper mi tristique, pharetra dui sed, eleifend velit.
            Duis euismod vel nibh nec suscipit. Vestibulum nec imperdiet sem.
            Aenean id massa iaculis, eleifend tellus ut, tempor erat.
        </p>
    </div>
</div>

<div class="parallax4">
</div>